<div class ="container margins">
    <% flash.each do |key, value| %>
      <div id="notice" class="alert margins alert-<%= key %>"><%= value %></div>
    <% end %>
  
  <div class="container" style="width: 90%;">
    <div>
      <%= link_to "Novo produto", new_product_path, class: "btn btn-primary mb-3" %>
    </div>
    <% @products.each do |product| %>
      <div class="border-bottom row">
        <div class="col-2">
          <%= image_tag product.images[0], class: "resize" %>
        </div>
        <div class="col-2", style="padding: 30px 0;" >
          <%= product.name %>
        </div>
        <div class="col-2", style="padding: 30px 0;" >
          Estoque: <%= product.stock %>
        </div>
        <div class="col-2", style="padding: 30px 0;" >
          <%= number_to_currency(product.price, unit: "R$ ", separator: ",", delimiter: ".") %>
        </div>
        <div class="col-1", style="padding: 30px 0;" >
          <% if product.active? %>
            Ativo
          <% else %>
            Inativo
          <% end %>
        </div>
        <div class="col-1", style="padding: 20px 0;" >
          <%= link_to "Ver", product_path(product), class: "btn btn-primary mb-3" %>
        </div>
        <div class="col-1", style="padding: 20px 0;" >
          <%= link_to "Editar", edit_product_path(product), class: "btn btn-primary mb-3" %>
        </div>
        <div class="col-1", style="padding: 20px 0;" >
          <%= button_to "Excluir", delete_path(product), method: :delete, class: "btn btn-primary mb-3" %>
        </div>

      </div>
    <% end %>
  </div>
</div>