<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "1.png", class: "d-block w-100" %>
      <div class="carousel-caption d-none d-md-block">
        <h5>Monitor 28" Gamer</h5>
        <p>Tela OLED refresh 140Mhz</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "2.png", class: "d-block w-100" %>
      <div class="carousel-caption d-none d-md-block">
        <h5>Cubo mágico Xiaomi</h5>
        <p>Cubo Mágico GiiKER M3 Xiaomi</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "3.png", class: "d-block w-100" %>
      <div class="carousel-caption d-none d-md-block">
        <h5>Mouse gamer Logitech</h5>
        <p>Rastreamento rápido baseado na tecnologia de fusão</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "4.png", class: "d-block w-100" %>
      <div class="carousel-caption d-none d-md-block">
        <h5>Drone DJI Mavic</h5>
        <p>Use o drone DJI Mini 2 para uma perspectiva única!</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "5.png", class: "d-block w-100" %>
      <div class="carousel-caption d-none d-md-block">
        <h5>Samsung Smart TV 32" QLED</h5>
        <p>Samsung Smart TV 32 polegadas QLED The Frame 2022</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<script>

$(document).ready(function() {
  $('.carousel').carousel({
    interval: 8000
  });
});

</script>