<%= render partial: 'form', locals: { product: @product } %>
      <div class="mb-3">
        Imagens anexadas
      </div>
      <div class="container text-center">
        <% @product.images.each_with_index do |img, idx| %>
          <div class="row align-items-center border round">
            <div class="col-sm-4">
              <img src="<%= (url_for(img)) %>" class="resize-product"> 
            </div>
            <div class="col-sm-2">
              Índice: <%= idx %>
            </div>
            <div class="col-sm-3">
              <%= button_to "Apagar", delete_image_product_path(@product, image_index: idx), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary mb-3" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <%= link_to "Voltar", :back, class: "btn btn-primary mb-3", style: "margin-top:20px;" %>
  </div>
</div>