<div class="container">
  <% flash.each do |key, value| %>
    <div id="notice" class="alert margins alert-<%= key %>"><%= value %></div>
  <% end %>
  <div class="grid gap-3 p-3 border rounded shadow-sm" style="margin-top: 20px; margin-bottom: 20px;">
    <% if @product.promo? %>
      <div class="row">
        <div class="col">
          <h3>Produto em promoção!</h3>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="col-sm-8">
        <div>
        <b>Produto: </b><%= @product.name %>
        </div>
        <div>
        <b>Descrição: </b><%= @product.description %>
        </div>
        <div>
          <br />
        </div>
        <div>
          <%= @product.content %>
        </div>
        <div>
          <br />
        </div>
        <div>
        <b>Valor: </b><%= number_to_currency(@product.price, unit: "R$ ", separator: ",", delimiter: ".") %>
        </div>
        <div>
        <b>Categoria: </b><%= @product.category.category %>
        </div>
        <div>
        <b>Código: </b><%= @product.code %>
        </div>
        <div>
        <b>Em estoque: </b><%= @product.stock %>
        </div>
        <br />
      </div>
      <div class="col-sm-4">
        <% if @product.images.present? %>
          <div class="images-outer">
            <% @product.images.each do |image| %>
              <div class="images-inner">
                <img src="<%= (url_for(image)) %>" class="resize-product">
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-sm-3">
            <%= form_tag line_items_path(product_id: @product) do %>
            <%= label_tag :quantity, "Quantidade:", class: "form-label" %>
          </div>
          <div class="col-sm-4 margins">
            <%= number_field_tag :quantity, params[:quantity], value: 1, class: "form-control", style: "width: 4em;" %>
          </div>
          <div class="col-sm-4 margins">
            <%= submit_tag "Comprar", class: "btn btn-primary mb-3" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
      <% if current_user && current_user.admin? %>
        <%= link_to "Editar", edit_product_path(@product), class: "btn btn-primary mb-3" %>
        <b>Ativo:</b><%= @product.active %>
      <% end %>
      </div>
    </div>
  </div>
</div>