<div class="container margins">
  <% if notice %>
    <div id="notice" class="alert alert-primary" role="alert">
      <%= notice %>
    </div>
  <% end %>
  <div class="container margins">
    <div>
      <h3>Venda n°: <%= @sale.number %></h3>
    </div>
    <div>
      <% if @sale.fullname? %>
        Cliente: <%= @sale.fullname %>
      <% else %>
        Usuário: <%= @sale.username %>
      <% end %>
    </div>
    <div>
      <% if @sale.address? %>
        Endereço: <%= @sale.address %>
        <br />
        Cidade: <%= @sale.city %>
        <br />
        CEP: <%= @sale.zip %>
      <% end %>
    </div>
    <div style="margin-top:10px;margin-bottom:10px;" class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Produto</th>
            <th scope="col">Código</th>
            <th scope="col">Valor unitário</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Valor total</th>
          </tr>
        </thead>

        <% @sale.sale_products.each do |product| %>
          <tr>
            <td>
              <%= product.name %>
            </td>
            <td>
              <%= product.code %>
            </td>
            <td>
              <%= number_to_currency(product.value, unit: "R$ ", separator: ",", delimiter: ".") %>
            </td>
            <td>
              <%= product.quantity %>
            </td>
            <td>
              <%= number_to_currency((product.value * product.quantity), unit: "R$ ", separator: ",", delimiter: ".") %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    <div>
      Total de produtos: <%= @sale.quantity %>
    </div>
    <div>
      <strong>Valor total da venda (inc. frete): <%= number_to_currency(@sale.value, unit: "R$ ", separator: ",", delimiter: ".") %></strong>
    </div>
  </div>
  <%= link_to "Voltar", :back, class: "btn btn-primary mb-3", style: "margin-top:20px;" %>
</div>